<a href="#{{categories.0.slug}}/{{slug}}" class="post__thumbnail" {{#if inCache}}style="background-image: url({{thumbnail_images.post-thumbnail.url}})"{{/if}} alt="{{{title}}}"></a>

<section class="post__content">
	<section class="post__content__details">
		<time datetime="{{date}}" class="post__content__details__date">{{date}}</time>
	</section>

	<a href="#{{categories.0.slug}}/{{slug}}" class="post__content__title">{{{title}}}</a>

	<a href="#{{categories.0.slug}}/{{slug}}" class="post__content__excerpt">{{{excerpt}}}</a>

	<section class="post__content__details bottom">
		<a href="#" class="post__content__details__author">{{author.nickname}}</a>
	</section>
</section>

<a href="#{{categories.0.slug}}" class="post__category">{{categories.0.title}}</a>
