<a href="#membros" class="member__detail__close" id="detail-close">{{{view 'icons/ic_close'}}}</a>
<div class="member__detail__wrapper">
	<section class="member__detail__column member__detail__column--person">
		<div class="member__detail__thumbnail" style="background-image: url({{#if thumbnail_images.post-thumbnail.url}}{{thumbnail_images.post-thumbnail.url}}{{else}}images/default_thumbnail.png{{/if}})" alt="{{{title}}}"> </div>

		<h2 class="member__detail__name">{{{title}}}</h2>
	</section>

	<section class="member__detail__column member__detail__column--info">
		<p>{{{content}}}</p>

		{{#if custom_fields.member_email}}
			<div class="member__detail__column__email">
				<span>EMAIL:</span>{{custom_fields.member_email}}
			</div>
		{{/if}}

		{{#if custom_fields.member_email}}
			<div class="member__detail__column__orcid">
				<span>ORCID:</span>{{custom_fields.member_orcid}}
			</div>
		{{/if}}
	</section>

	<section class="member__detail__column member__detail__column--details" id="member-publications">
	{{{view "components/spinner"}}}
	</section>

	<section class="member__detail__column member__detail__column--details" id="member-projects">
	{{{view "components/spinner"}}}
	</section>
</div>
