<a href="#membros" class="member__detail__close" id="detail-close">{{{view 'icons/ic_close'}}}</a>
<div class="member__detail__wrapper">
	<section class="member__detail__column member__detail__column--person">
		<div class="member__detail__thumbnail" style="background-image: url({{thumbnail_images.post-thumbnail.url}})" alt="{{{title}}}"> </div>
		{{!-- <p class="member__detail__position">{{custom_fields.member-position}}</p> --}}

		<h2 class="member__detail__name">{{{title}}}</h2>
	</section>

	<section class="member__detail__column member__detail__column--info">
		<p>{{{content}}}</p>
	</section>
	
	<section class="member__detail__column member__detail__column--details" id="member-publications">
	</section>

	<section class="member__detail__column member__detail__column--details" id="member-projects">
	</section>
</div>