<article class="member__detail__article">
	{{!-- <a href="https://{{custom_fields.url}}" target="_blank" class="member__detail__article__see-more">{{{view 'icons/ic_arrow-right'}}} ver mais</a> --}}
	{{!-- <p class="member__detail__article__type">{{type}}</p> --}}
	<h5 class="member__detail__article__title">{{title}}</h5>
	<div class="member__detail__article__text">{{{content}}}</div>
</article>