<a href="#projects" class="close">+</a>
<div class="project__detail__wrapper">
	<section class="project__detail__column">
		<div class="post__thumbnail" style="background-image: url({{thumbnail_images.post-thumbnail.url}})" alt="{{{title}}}">
			<time datetime="{{date}}" class="post__content__date">{{{prettyDate}}}</time>
		</div>

		<h1>{{{title}}}</h1>
		<h2>{{author.nickname}}</h2>
	</section>
	<section class="project__detail__column">

		<div class="content">{{{content}}}</div>
	</section>
</div>
