<a href="#projetos/{{slug}}" class="post__thumbnail" {{#if inCache}}style="background-image: url({{#if thumbnail_images.post-thumbnail.url}}{{thumbnail_images.post-thumbnail.url}}{{else}}images/default_thumbnail.png{{/if}})"{{/if}} alt="{{{title}}}"></a>

<section class="post__content">
	{{!--<time datetime="{{date}}" class="post__content__date">{{{prettyDate}}}</time>--}}

	<a href="#" class="post__content__author">{{author.nickname}}</a>

	<div class="post__content__title">{{{title}}}</div>

	<div class="post__content__excerpt">{{{excerpt}}}</div>

	<a href="#projetos/{{slug}}" class="post__content__btn">mais</a>

</section>

<a href="#projetos" class="post__category">{{categories.0.title}}</a>
