<div class="post-list__new__thumbnail"
style="background-image: url({{#if thumbnail_images.post-thumbnail.url}}{{thumbnail_images.post-thumbnail.url}}{{else}}images/default_thumbnail.png{{/if}})">

	<!-- <time datetime="{{date}}" class="post-list__new__thumbnail__date">{{{prettyDate}}}</time> -->
</div>

<section class="post-list__new__content">

	<h2 class="post-list__new__content__title">{{{title}}}</h2>

	{{#if custom_fields.when}}
	<div class="post-list__new__content__when"><span>Quando: </span>{{custom_fields.when}}</div>
	{{/if}}

	{{#if custom_fields.when}}
	<div class="post-list__new__content__where"><span>Onde: </span>{{custom_fields.where}}</div>
	{{/if}}

	<div class="post-list__new__content__text">{{{custom_fields.excerpt}}}</div>

	<a href="#eventos/{{slug}}" class="post-list__new__content__button">{{{view 'icons/ic_arrow-right'}}} Saber mais</a>
</section>
