<div class="home__section__new__content">
	<h4>{{title}}</h4>
	<p>{{{custom_fields.excerpt}}}</p>
	<a href="#noticias/{{slug}}">{{{view 'icons/ic_arrow-right'}}} Saber mais</a>
</div>

{{#ifCond thumbnail '&&' isLarge}}
<div class="home__section__new__image" style="background-image: url({{thumbnail}})"> </div>
{{/ifCond}}
